<div>
  <h1>Cadastro de Usuário</h1>
</div>

<div>
  <form>
    <div class="form-group">
      <label for="guardarNome">Nome Completo</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Seu nome">
    </div>
    <div class="form-group">
      <label for="guardarCpf">CPF</label>
      <input type="number" class="form-control" id="inputCpf" placeholder="Seu cpf">
    </div>
    <div class="form-group">
      <label for="guardarEmail">Endereço de email</label>
      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
      <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>
    <div class="form-group">
      <label for="guardarSenha">Senha</label>
      <input type="password" class="form-control" id="inputSenha" placeholder="Senha">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>